doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="This is a word counting app.")
        meta(property="og:image" content="https://res.cloudinary.com/dbvthtwhc/image/upload/v1612350918/WordCountingApp/og-image.png")
        meta(name="author" content="Aman Kumar")

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

        link(rel="stylesheet" type="text/css" href="style/style.css")
        link(rel="icon" href="https://res.cloudinary.com/dbvthtwhc/image/upload/v1612345001/WordCountingApp/icon.png" type="image/x-icon")
        title WORD COUNTING APP

    body

        .container_wc.z-depth-4
            p Word Counting app
            .row.input
                .input-field.col.s12
                    textarea#txt-area.materialize-textarea
                    label(for="textarea1").label Start Typing...

            .output
                .row.z-depth-2(style="margin-right: 1.5%")
                    div Total Words: 
                        span#wordCount 0

                .row.z-depth-2
                    div Total Characters: 
                        span#characterCount 0

            a.waves-effect.waves-light.waves-blue.btn.right Clear

        .bubbles
            span.two
            span.one
            span.three
            span.four
            span.five

        .bubbles
            span.two
            span.one
            span.three
            span.four
            span.five
            
        .bubbles
            span.two
            span.one
            span.three
            span.four
            span.five
            
        .bubbles
            span.two
            span.one
            span.three
            span.four
            span.five
            

        script(src="code.js")
